subjectAltName=DNS:*.findmycargo.ru,DNS:*.findmycargo.ru,IP:0.0.0.0,DNS:tracking_api:51372,DNS:user_api:9001,DNS:schedule_tracking_api:8005,DNS:freight_api:51839,DNS:gateway_api:8080,DNS:gateway_api,DNS:freight_api,DNS:schedule_tracking_api,DNS:tracking_api
